body {
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  background-color: #eee;
  min-height: 150px;
  position: relative;
}
.iconBox {
  width: 10%;
  /* background-color: red; */
}
.logo {
  flex-grow: 1;
  text-align: center;
}
.logoImg {
  width: 10%;
}
.menuList {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  left: 0;
  top: 150px;
  width: 100%;
  background-color: #eee;
  z-index: 4000;
}
@media only screen and(max-width:750px) {
  .logoImg {
    width: auto;
  }
}
#hidden {
  width: 0;
  opacity: 0;
}
